In [1]:
#Importing dependencies
import pandas as pd
import json

In [2]:
# reading json file

filepath = "most_popular_quotes.json"
quotes_df = pd.read_json(filepath)
quotes_df.head()

,author,likes,tags,text
0,Dr. Seuss,174616 likes,"[attributed-no-source, cry, crying, experience...","\n “Don't cry because it's over, smile be..."
1,Marilyn Monroe,138415 likes,"[attributed-no-source, best, life, love, mista...","\n “I'm selfish, impatient and a little i..."
2,Oscar Wilde,130176 likes,"[attributed-no-source, be-yourself, honesty, i...",\n “Be yourself; everyone else is already...
3,Albert Einstein,116961 likes,"[attributed-no-source, human-nature, humor, in...",\n “Two things are infinite: the universe...
4,Bernard M. Baruch,111385 likes,"[ataraxy, be-yourself, confidence, fitting-in,...","\n “Be who you are and say what you feel,..."

In [3]:
#clean out the data

quotesclean = quotes_df[["text","author","likes"]]

In [4]:
#Clean the quotes

#function for cleaning quotes from "" and \n and spaces
def cleanupquotes(quote):
    quote1 = quote
    quote2 =quote1.replace("\n","")
    quote3 = quote2.replace("“","")
    quote4 = quote3.replace("”","")
    quote5 = quote4.replace("  ","")
    return quote5

#Cleaning up the quotes and placing them as text
quotesclean["text"] = quotesclean["text"].apply(cleanupquotes)
quotesclean.head()

C:\Users\noneo\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

,text,author,likes
0,"Don't cry because it's over, smile because it ...",Dr. Seuss,174616 likes
1,"I'm selfish, impatient and a little insecure. ...",Marilyn Monroe,138415 likes
2,Be yourself; everyone else is already taken.,Oscar Wilde,130176 likes
3,Two things are infinite: the universe and huma...,Albert Einstein,116961 likes
4,"Be who you are and say what you feel, because ...",Bernard M. Baruch,111385 likes

In [5]:
#Organizes the quotes by number of likes in descending order
quotesclean.sort_values(by="likes",ascending = False)
#keeps the most popular quote from each author
quotesclean = quotesclean.drop_duplicates("author",keep="first")

#Drops rows with any blanks (either quotes, authors or likes)
quotesclean = quotesclean.dropna()

In [6]:
quotesclean.to_csv("quotesclean.csv", index=False)