In [7]:
#importing dependencies

import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()

In [10]:
#Gives the path to each csv with relevant info
filepath1 = "books10Kclean.csv"
filepath2 ="bestsellerbooksclean.csv"
filepath3 = "quotesclean.csv"

#creates 3 dataframes with each file
tenk_df = pd.read_csv(filepath1)
best_df = pd.read_csv(filepath2)
quotes_df = pd.read_csv(filepath3)

tenk_df.head()

,isbn,title,authors,original_publication_year,average_rating
0,439023483,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,2008.0,4.34
1,439554934,Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPré",1997.0,4.44
2,316015849,"Twilight (Twilight, #1)",Stephenie Meyer,2005.0,3.57
3,61120081,To Kill a Mockingbird,Harper Lee,1960.0,4.25
4,743273567,The Great Gatsby,F. Scott Fitzgerald,1925.0,3.89